<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byku.android.textdrafter">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".activities.TextDrafterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activities.mainactivity.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--
1. Dodać dialog przy usuwaniu, dodać dźwięk usuwania, dodać wibracje usuwania, dodać możliwość pomijania dialogu, dodać animacje usuwania.
2. Dodać odzyskiwanie staniu listy po usunięciu lub dodaniu obiektu.
3. Przy usuwaniu z adaptera - notifyItemRemoved! W obu adapterach!


-->